#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h1 {
    color: #030303;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }
  button {
    background-color: #4ebcd8;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 140px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  h2{
    color: #9759e7;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  *{
    background-color: rgb(253, 244, 255);
  }